*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #ffffff;
}
:root {
    --modal-duration: 1s;
}

@font-face {
    font-family: 'dinlight';
    src: url('../LT/din_light_regular-webfont.woff2') format('woff2'),
         url('../LT/din_light_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensedlight';
    src: url('../LT/opensanscondensed-light-webfont.woff2') format('woff2'),
         url('../LT/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}

@font-face {
    font-family: 'marzo';
    src: url('../LT/1e6ec96c95301fa73aa1d026f161a269.woff2') format('woff2'),
         url('../LT/1e6ec96c95301fa73aa1d026f161a269.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ///////////// Products ///////////// */

.page{
    padding: 50px;
}

.page h1{
    color: black;
    margin-left: 10%;
}
.page p{
    color: gray;
    margin-top: 14px;
    margin-left: 11%
}

.page ul li{
    margin-top: 30px;
    margin-left: 14%;
    color: black;
}

.page ul li img{
    width: 20px;
    margin-right: 20px;
}